html{
  background: url('/images/brushed.png');
  color: DarkSlateGray;
  font-family: 'Open Sans';
  font-weight: 400;
}

header{
  background: white;
  margin-bottom: 20px;
  position: fixed;
  width : 100%;
  z-index: 50;
  top : 0;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

#logo, h2{
  height: 25px;
  margin: 10px;
  margin-right:0;
  display: inline-block;
  vertical-align: top;
  line-height: 1.2em;
  font-size: 20px;
}

h1, h2{
  font-weight: 300;
}

h1:first-child{
  margin-top : 0;
}

nav{
  top : 75px;
  position: fixed;
  padding : 10px;
}

nav a{
  color: DarkSlateGray;
  text-decoration: none;
  display: block;
  padding: 5px;
  width  : 100px;
  border-bottom: 1px dotted DarkSlateGray;
  text-transform: uppercase;
}

nav a:last-child{
  border-bottom: none;
}

section{
  margin: 75px 0 75px 150px;
  padding: 20px;
  background: white;
  width : calc(100% - 216px);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

ul.candy{
  margin: 10px 0;
  padding: 0;
  position: relative;
}

li.candy{
  padding       : 5px;
  border-radius : 3px;
  list-style    : none;
  background    : linear-gradient(GhostWhite, lightGray);
  margin        : 3px;
  width         : 100%;
  box-sizing    : border-box;
  text-shadow   : 0 1px 1px white, 0 1px 1px white, 0 -1px 1px white, -1px 0 1px white, 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white;
  -webkit-transition : 0.3s background;
}

li.candy:nth-child(1){
  background: red;
}

li.candy:nth-child(2){
  background: orange;
}

li.candy:nth-child(3){
  background: yellow;
}

li.candy:nth-child(4){
  background: green;
}

li.candy:nth-child(5){
  background: blue;
}

li.candy:nth-child(6){
  background: #4B0082;
}

li.candy:nth-child(7){
  background: #8F00FF;
}

li.candy i{
  margin-top: 3px;
  float : right;
  cursor: pointer;
}

.example{
  padding: 20px;
  border-radius: 5px;
  border: 2px dashed rgba(255,215,40,0.85);
}

/* SLIDE */

.slide.ng-enter,
.slide.ng-leave{
  -webkit-transition : 0.3s all;
  transition : 0.3s all;
}

.slide.ng-enter,
.slide.ng-leave.ng-leave-active{
  opacity : 0;
  position: absolute;
}

.slide.ng-enter{
  -webkit-transform : translateX(-10px);
  transform : translateX(-10px);
}

.slide.ng-leave-active{
  -webkit-transform : translateX(50px);
  transform : translateX(50px);
}

.slide.ng-enter-active,
.slide.ng-leave{
  opacity: 1;
  -webkit-transform : translatex(0);
  transform : translateX(0);
}

/* VERTICAL */

.vertical.ng-enter,
.vertical.ng-leave{
  -webkit-transition : 0.3s all;
  transition : 0.3s all;
}

.vertical.ng-enter,
.vertical.ng-leave.ng-leave-active{
  opacity : 0;
  height  : 0;
  margin  : 0;
  padding : 0;
}

.vertical.ng-enter-active,
.vertical.ng-leave{
  opacity : 1;
  height  : 32px;
  margin  : 3px;
  padding : 5px;
}
