html{
  background: url('/images/brushed.png');
  color : DarkSlateGray ;
}

header{
  background: white;
}

#logo, h1{
  height: 45px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.4em;  
}