<h1>CSS vs JS</h1>
<p>Everything is a myth, and whats not is going to change.</p>

<ul>
  <li>
    <a href="http://css-tricks.com/myth-busting-css-animations-vs-javascript/" target="_blank">Same topic</a>
  </li>
  <li>
    <a href="http://www.phpied.com/css-animations-off-the-ui-thread/" target="_blank">Threads</a>
  </li>
  <li>
    <a href="http://www.greensock.com/js/speed.html" target="_blank">Performance</a>
  </li>
</ul>

<h2>CSS Advantage</h2>
<ul>
  <li>Easier to use for simple cases</li>
  <li>Seporate Thread</li>
</ul>

<h2>JS Advantage</h2>
<ul>
  <li>More flexible</li>
  <li>Easier to use for intermediate to advanced cases</li>
</ul>

<p>To avoid confusion, pick a pattern and STICK TO IT!</p>