<h1>GreenSock</h1>
<h2>Example</h2>
<div class="example">
  <form ng-submit="addNew()">
    <input ng-model="new"/>
    <button >Add New</button>
    <a ng-click="reset()">Reset</a>
  </form>
  <ul class="candy">
    <li
      ng-repeat="student in students track by student.name"
      class="candy jsvertical">
      {{student.name}}
      <i ng-click="remove(student);" class="fa fa-times-circle"></i>
    </li>
  </ul>
</div>
<h2>Code</h2>
<div hljs>
  angular.module('meetup').animation('.jsvertical', function(){
    return {
      enter : function(element, done){
        new TweenLite.fromTo(element[0], 0.3, {
          opacity    : 0,
          height     : 0,
          margin     : 0,
          padding    : 0
        },{
          opacity    : 1,
          height     : element[0].clientHeight,
          margin     : 3,
          padding    : 5,
          onComplete : done
        });
      },
      leave : function(element, done){
        new TweenLite.to(element[0], 0.3, {
          opacity    : 0,
          height     : 0,
          margin     : 0,
          padding    : 0,
          onComplete : done
        });
      }
    };
  });
</div>
<h2>Example 2: the incredible sequel</h2>
<div class="example">
  <form ng-submit="addNew()">
    <input ng-model="new"/>
    <button >Add New</button>
    <a ng-click="reset()">Reset</a>
  </form>
  <ul class="candy">
    <li
      ng-repeat="student in students track by student.name"
      class="candy explosivo">
      {{student.name}}
      <i ng-click="remove(student);" class="fa fa-times-circle"></i>
    </li>
  </ul>
</div>
