<h1>GreenSock</h1>
<h2>Example</h2>
<div class="example">
  <form ng-submit="addNew()">
    <input ng-model="new"/>
    <button >Add New</button>
    <a ng-click="reset()">Reset</a>
  </form>
  <ul class="candy">
    <li
      ng-repeat="student in students track by student.name"
      class="candy jsvertical">
      {{student.name}}
      <i ng-click="remove(student);" class="fa fa-times-circle"></i>
    </li>
  </ul>
</div>
<h2>Code</h2>
<div hljs>
  angular.module('meetup').animation('.jsvertical', function(){
    return {
      enter : function(element, done){
        var tl = new TweenLite.fromTo(element[0], 0.3, {
          opacity    : 0,
          height     : 0,
          margin     : 0,
          padding    : 0
        },{
          opacity    : 1,
          height     : element[0].clientHeight,
          margin     : 3,
          padding    : 5,
          onComplete : done
        });
        return (function(){ tl.kill(); });
      },
      leave : function(element, done){
        var tl = new TweenLite.to(element[0], 0.3, {
          opacity    : 0,
          height     : 0,
          padding    : 0,
          margin     : '0 0 -3px 0',
          onComplete : done
        });
        return (function(){ tl.kill(); });
      }
    };
  });
</div>
<h2>Example 2: the incredible sequel</h2>
<div class="example">
  <form ng-submit="addNew()">
    <input ng-model="new"/>
    <button >Add New</button>
    <a ng-click="reset()">Reset</a>
  </form>
  <ul class="candy">
    <li
      ng-repeat="student in students track by student.name"
      class="candy explosivo">
      {{student.name}}
      <i ng-click="remove(student);" class="fa fa-times-circle"></i>
    </li>
  </ul>  
</div>
<h2>Code</h2>
<div hljs>
  angular.module('meetup').animation('.explosivo', function(){
    return {
      enter : function(element, done){
        var tl = new TweenLite.fromTo(element[0], 0.3, {
          opacity      : 0,
          rotationY    : 45
        },{
          opacity      : 1,
          rotationY    : 0,
          onComplete   : done
        });
        return (function(){ tl.kill(); });
      },
      leave : function(element, done){
        var tweens = [],
            x      = element[0].querySelector('i');

        TweenLite.set(element[0], {
          transformPerspective:500
        });

        var getRandomRotation = function(max){
          return (Math.floor(Math.random() * max) * (Math.round(Math.random()) > 0 ? -1 : 1));
        };

        tweens.push(new TweenLite.to(element[0], 1, {
          opacity      : 0,
          scale        : 1.2,
          marginBottom : -element[0].offsetHeight,
          delay        : 1, 
          rotationX    : getRandomRotation(30),
          ease         : Cubic.easeOut
        }));

        tweens.push(new TweenLite.to(element[0], 2, {
          rotationY    : getRandomRotation(30),
          ease         : Cubic.easeInOut
        }));

        tweens.push(new TweenLite.to(x, 1, {
          right        : element[0].offsetWidth - x.offsetWidth,
          scale        : 1.5,
          ease         : Back.easeOut
        }));

        tweens.push(new TweenLite.to(x, 2, {
          rotation     : '7rad'
        }));

        var tl = new TimelineLite({
          tweens       : tweens,
          onComplete   : done
        }).duration(0.75);

        return (function(){ tl.kill(); });
      }
    };
  });
</div>
